body {
	background-color: white;
}
.top {
	background-color: #FF4040;
}

.header {
	font-family: rockwell;
	color: white;
	text-align: center;
	margin-top: 100px;
}

.back a{
	font-family: rockwell;
	color: gray;
	margin-left: 10px;
}

.concepts {
	margin-top: 100px;
}

.concepts img {
	display: inline-block;
	width: 100%;
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
}

.concepts p {
	margin-left: 20px;
}

p {
	font-family: rockwell;
}