html, body {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
}

.container {
	width: 100%;
	padding-right: 0;
	padding-left: 0;
}

.row {
	margin-right: 0;
	margin-left: 0;
}

.purple {
	background-color: #3F1658;
	width: 100%;
	height: 520px;
}

.col-md-1 img {
	width: 500px;
	padding-top: 70px;
	padding-bottom: 20px;
}

.purple #hello {
	margin-top: 20%;
	font-family: ayuthaya;
	color: white;
	font-size: 72px;
}

#hello {
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  animation: type 3s steps(60, end); 
}


p a{
  color: lime;
  text-decoration: none;
}

span{
  animation: blink 1s infinite;
}

@keyframes type{ 
  from { width: 0; } 
} 

@keyframes type2{
  0%{width: 0;}
  40%{width: 0;}
  100%{ width: 100; } 
} 

@keyframes blink{
  to{opacity: .0;}
}

::selection{
  background: black;
}

#producer {
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  animation: type2 3s steps(60, end); 
}

.purple #producer {
	font-family: ayuthaya;
	color: white;
	font-size: 54px;
	margin-bottom: 10%;
}

.jobtitle {
	margin-left: 10%;
}

#showreel {
	text-align: center;
	font-family: source sans pro, serif;
	font-weight: 300;
	color: white;
	width: 100%;
	text-align: center;
	margin-top: 15%;
	font-size: 100px;
}

.pic-wrapper {
  position: relative;
  width: 100%;
  height: 500px;
  overflow: hidden;
}

.pic-wrapper h2 {
	z-index: 10;
	opacity: 1;
	position: absolute;
}

.pic-wrapper figure {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  /*animation*/
  
  
  animation: slideShow 30s linear infinite 0s;
  -o-animation: slideShow 30s linear infinite 0s;
  -moz-animation: slideShow 30s linear infinite 0s;
  -webkit-animation: slideShow 30s linear infinite 0s;
  
     -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

figure.pic-1 {
  opacity: 1;
  background: url(../gif/1.jpg) no-repeat center center;
}

figure.pic-2 {
  animation-delay: 6s;
  -o-animation-delay: 6s;
  -moz--animation-delay: 6s;
  -webkit-animation-delay: 6s;
  background: url(../gif/2.jpg) no-repeat center center;	
}

figure.pic-3 {
  animation-delay: 12s;
  -o-animation-delay: 12s;
  -moz--animation-delay: 12s;
  -webkit-animation-delay: 12s;
  background: url(../gif/3.jpg) no-repeat center center;
}

figure.pic-4 {
  animation-delay: 18s;
  -o-animation-delay: 18s;
  -moz--animation-delay: 18s;
  -webkit-animation-delay: 18s;
  background: url(../gif/4.jpg) no-repeat center center;
}

figure.pic-5 {
  animation-delay: 24s;
  -o-animation-delay: 24s;
  -moz--animation-delay: 24s;
  -webkit-animation-delay: 24s;
  background: url(../gif/5.jpg) no-repeat center center;
}

figure.pic-6 {
  animation-delay: 30s;
  -o-animation-delay: 30s;
  -moz--animation-delay: 30s;
  -webkit-animation-delay: 30s;
  background: url(../gif/6.jpg) no-repeat center center;
}

@keyframes 
slideShow {  0% {
 opacity: 0;
 transform:scale(1);
 -ms-transform:scale(1);
}
 5% {
 opacity: 1
}
 25% {
 opacity: 1;
}
 30% {
 opacity: 0;
 transform:scale(1.1);
 -ms-transform:scale(1.1);
}
 100% {
 opacity: 0;
 transform:scale(1);
 -ms-transformm:scale(1);
}
}

@-o-keyframes 
slideShow {  0% {
 opacity: 0;
 -o-transform:scale(1);
}
 5% {
 opacity: 1
}
 25% {
 opacity: 1;
}
 30% {
 opacity: 0;
 -o-transform:scale(1.1);
}
 100% {
 opacity: 0;
 -o-transformm:scale(1);
}
}

@-moz-keyframes 
slideShow {  0% {
 opacity: 0;
 -moz-transform:scale(1);
}
 5% {
 opacity: 1
}
 25% {
 opacity: 1;
}
 30% {
 opacity: 0;
 -moz-transform:scale(1.1);
}
 100% {
 opacity: 0;
 -moz-transformm:scale(1);
}
}

@-webkit-keyframes 
slideShow {  0% {
 opacity: 0;
 -webkit-transform:scale(1);
}
 5% {
 opacity: 1
}
 25% {
 opacity: 1;
}
 30% {
 opacity: 0;
 -webkit-transform:scale(1.1);
}
 100% {
 opacity: 0;
 -webkit-transformm:scale(1);
}
}

.wrapper {
	margin-top: 100px;
	margin-bottom: 100px;
}

video {
	width: 100%;
	height: auto;
}

.white {
	background-color: white;
	width: 100%;
	height: 70%;
}
.white a {
	color: #3F1658;;
}

#swedeninwar {
	font-family: source sans pro, serif;
	font-weight: 300;
	font-style: italic;
	font-size: 48px;
	color: #3F1658;
	margin-left: 30px;
}

#swedentext {
	font-family: source sans pro, serif;
	font-weight: 300;
	font-size: 30px;
	color: #3F1658;
	margin-left: 30px;
}

.imdb {
	position: relative;
}

.imdb img {
	width: 100%;
}

#imdb {
	top: 5%;
	position: absolute;
	text-align: center;
	font-family: source sans pro, serif;
	font-style: italic;
	font-weight: 300;
	color: white;
	width: 100%;
	text-align: center;
	font-size: 100px;
}

#readmore {
	display: inline-block;
	top: 65%;
	position: absolute;
	text-align: center;
	font-family: source sans pro, serif;
	font-weight: 300;
	color: white;
	width: 100%;
	font-size: 50px;
}

.green {
	background-color: #34977E;
	width: 100%;
	height: 100%;
}

.green a {
	color: white;
}

.green img {
	width: 100%;
	margin-left: -20px;
}

#vardkollen {
	margin-top: 50px;
	font-family: source sans pro, serif;
	font-weight: 300;
	font-style: italic;
	font-size: 48px;
	color: white;
	margin-left: 30px;
}

#vardkollentext {
	font-family: source sans pro, serif;
	font-weight: 300;
	font-size: 30px;
	color: white;
	margin-left: 30px;
}

video {
	width: 100%;
	height: auto;
}

.nyc {
	position: relative;
}

.col-md-12 {
	padding: 0;
}

#vfx {
	position: absolute;
	text-align: center;
	font-family: source sans pro, serif;
	font-weight: 300;
	color: white;
	width: 100%;
	text-align: center;
	margin-top: 15%;
	font-size: 150px;
}

.blue {
	background-color: white;
	width: 100%;
	height: 100%;
}
.blue a {
	color: purple;
}

.blue img {
	width: 100%;
	margin-left: -20px;
}

#unicef {
	margin-top: 50px;
	font-family: source sans pro, serif;
	font-weight: 300;
	font-style: italic;
	font-size: 48px;
	color: #3F1658;
	margin-left: 30px;
}

#uniceftext {
	font-family: source sans pro, serif;
	font-weight: 300;
	font-size: 30px;
	color: #3F1658;
	margin-left: 30px;
}

.contact {
	background-color: #34977E;
	width: 100%;
	height: 100%;
	padding-left: 190px;
	padding-top: 20px;
	padding-bottom: 20px;
}

.contact img {
	padding-top: 30px;
	padding-bottom: 30px;
}

.contact h1 {
	margin-top: 50px;
	font-family: source sans pro, serif;
	font-weight: 300;
	font-style: italic;
	font-size: 48px;
	color: white;
	margin-left: 30px;
}

.contact p {
	font-family: source sans pro, serif;
	font-weight: 300;
	font-size: 25px;
	color: white;
	margin-left: 30px;
}


/*IMDB*/

.imdbpage {
	margin-top: 30px;
}

.imdbpage a {
	color: #3F1658;
}

.imdbpage h1 {
	font-family: source sans pro, serif;
	font-weight: 300;
	font-size: 58px;
	color: #3F1658;
	margin-left: 30px;
}

.imdbpage h3 {
	font-family: source sans pro, serif;
	font-weight: 300;
	font-size: 38px;
	color: #3F1658;
	margin-left: 30px;
}

.imdbpage p {
	font-family: source sans pro, serif;
	font-weight: 300;
	font-size: 18px;
	color: #3F1658;
	margin-left: 30px;
}

/*vårdkollen*/
.vardkollenpage {
	margin-top: 30px;
}

.vardkollenpage a {
	color: #3F1658;
}

.vardkollenpage h1 {
	font-family: source sans pro, serif;
	font-weight: 300;
	font-size: 58px;
	color: #3F1658;
	margin-left: 30px;
}

.vardkollenpage h3 {
	font-family: source sans pro, serif;
	font-weight: 300;
	font-size: 38px;
	color: #3F1658;
	margin-left: 30px;
}

.vardkollenpage p {
	font-family: source sans pro, serif;
	font-weight: 300;
	font-size: 18px;
	color: #3F1658;
	margin-left: 30px;
}

/*VFX*/

#comingsoon {
	font-family: source sans pro, serif;
	font-weight: 300;
	position: absolute;
	color: white;
	width: 100%;
	text-align: center;
	margin-top: 18%;
	font-size: 100px;
	text-align: center;
}

img#space {
	width: 100%;
	height: auto;
}

