html, body {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
}

body {
	overflow-x: hidden;
}

.backgroundwrapper {
	height: 100%;
	width: 100%;
	padding-bottom: 100px;
	box-sizing: border-box;
}

.background1 {
	background: url(portfolio/saab.jpg) no-repeat center -180px fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 102%;
  height: 102%;
}

.menu {
	background-color: white;
	position: fixed;
	width: 100%;
	height: 50px;
	z-index: 2;
}

.menu ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.menu li {
	font-family: helvetica;
	float: left;
	padding: 15px 20px 0 40px;
	color: #536E78;
}

.title {
	position: absolute;
	text-align: center;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);

}

.title h1 {
	font-family: source sans pro, serif;
	font-weight: 300;
	padding-left: 50px;
	padding-right: 0px;

}

.title h3 {
	font-family: source sans pro, serif;
	font-weight: 300;
	padding-left: 50px;
}


.content {
	padding-left: 50px;
}

.row1 {

}

#profile {
	padding-left: 30px;
	width: 100%;
}

#hello {
	text-align: center;
}


#checkout {
	font-family: impact;
	padding-bottom: 10px;
	padding-top: 30px;
}

#portfolio {
	font-family: source sans pro, serif;
	font-weight: 300;
	color: white;
	width: 100%;
	text-align: center;
	margin-top: 18%;
	font-size: 100px;
}

.pic-wrapper {
  position: relative;
  width: 100%;
  height: 500px;
  overflow: hidden;
}

.pic-wrapper h2 {
	z-index: 10;
	opacity: 1;
	position: absolute;
}

.pic-wrapper figure {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  /*animation*/
  
  
  animation: slideShow 30s linear infinite 0s;
  -o-animation: slideShow 30s linear infinite 0s;
  -moz-animation: slideShow 30s linear infinite 0s;
  -webkit-animation: slideShow 30s linear infinite 0s;
  
     -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

figure.pic-1 {
  opacity: 1;
  background: url(../gif/1.jpg) no-repeat center center;
}

figure.pic-2 {
  animation-delay: 6s;
  -o-animation-delay: 6s;
  -moz--animation-delay: 6s;
  -webkit-animation-delay: 6s;
  background: url(../gif/2.jpg) no-repeat center center;	
}

figure.pic-3 {
  animation-delay: 12s;
  -o-animation-delay: 12s;
  -moz--animation-delay: 12s;
  -webkit-animation-delay: 12s;
  background: url(../gif/3.jpg) no-repeat center center;
}

figure.pic-4 {
  animation-delay: 18s;
  -o-animation-delay: 18s;
  -moz--animation-delay: 18s;
  -webkit-animation-delay: 18s;
  background: url(../gif/4.jpg) no-repeat center center;
}

figure.pic-5 {
  animation-delay: 24s;
  -o-animation-delay: 24s;
  -moz--animation-delay: 24s;
  -webkit-animation-delay: 24s;
  background: url(../gif/5.jpg) no-repeat center center;
}

figure.pic-6 {
  animation-delay: 30s;
  -o-animation-delay: 30s;
  -moz--animation-delay: 30s;
  -webkit-animation-delay: 30s;
  background: url(../gif/6.jpg) no-repeat center center;
}

@keyframes 
slideShow {  0% {
 opacity: 0;
 transform:scale(1);
 -ms-transform:scale(1);
}
 5% {
 opacity: 1
}
 25% {
 opacity: 1;
}
 30% {
 opacity: 0;
 transform:scale(1.1);
 -ms-transform:scale(1.1);
}
 100% {
 opacity: 0;
 transform:scale(1);
 -ms-transformm:scale(1);
}
}

@-o-keyframes 
slideShow {  0% {
 opacity: 0;
 -o-transform:scale(1);
}
 5% {
 opacity: 1
}
 25% {
 opacity: 1;
}
 30% {
 opacity: 0;
 -o-transform:scale(1.1);
}
 100% {
 opacity: 0;
 -o-transformm:scale(1);
}
}

@-moz-keyframes 
slideShow {  0% {
 opacity: 0;
 -moz-transform:scale(1);
}
 5% {
 opacity: 1
}
 25% {
 opacity: 1;
}
 30% {
 opacity: 0;
 -moz-transform:scale(1.1);
}
 100% {
 opacity: 0;
 -moz-transformm:scale(1);
}
}

@-webkit-keyframes 
slideShow {  0% {
 opacity: 0;
 -webkit-transform:scale(1);
}
 5% {
 opacity: 1
}
 25% {
 opacity: 1;
}
 30% {
 opacity: 0;
 -webkit-transform:scale(1.1);
}
 100% {
 opacity: 0;
 -webkit-transformm:scale(1);
}
}

#showreel {
	font-family: impact;
	padding-left: 35px;
}


h3 {
	font-family: helvetica;
}

p {
	color: #536E78;
}

#vardkollen {
	font-family: helvetica;
	padding-top: 30px;
	color: #536E78;
}

#readmore {
	font-family: helvetica;
	padding-top: 10px;
	color: #536E78;
}

.gif img {
	width: 100%;
	padding-left: 10px;
	padding-right: 10px;
}

.gifnyc img {
	width: 100%;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 20px;
}

.work img {
	width: 100%;
	padding-left: 10px;
	padding-top: 20px;
}

#appinmed {
	width: 50%;
}

#swedeninwar {
	width: 50%;
}

.gifnyc {
	position: relative;
}

#vfx {
	font-family: source sans pro, serif;
	font-weight: 300;
	position: absolute;
	top: 45px;
	color: white;
	width: 100%;
	text-align: center;
	margin-top: 18%;
	font-size: 100px;
}

video {
	width: 100%;
	height: auto;
}

#unicef {
	width: 50%;
}


/*VÅRDKOLLEN*/

#vardkollen {
	width: 70%;
}

#title {
	font-family: Helvetica;
	color: #536E78;
}

#brandnewway {
	font-family: helvetica;
	color: #536E78;
}

/*IMDB*/

#imdb {
	width: 150%;
}

/*VFX*/

#comingsoon {
	font-family: source sans pro, serif;
	font-weight: 300;
	position: absolute;
	top: 45px;
	color: white;
	width: 100%;
	text-align: center;
	margin-top: 18%;
	font-size: 100px;
	text-align: center;
}

img#space {
	width: 100%;
	height: auto;
}

@media screen and (max-width: 375px) {}


