html, body {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
}

.container {
	width: 100%;
	padding-right: 0;
	padding-left: 0;
}

.row {
	margin-right: 0;
	margin-left: 0;
}

.purple {
	background-color: #34977E;
	width: 100%;
	height: 520px;
}

.col-md-1 img {
	width: 500px;
	padding-top: 70px;
	padding-bottom: 20px;
}

.purple #hello {
	margin-top: 20%;
	font-family: source sans pro, serif;
	font-weight: 300;
	color: white;
	font-size: 68px;
}

#hello {
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  animation: type 3s steps(60, end); 
}


p a{
  color: lime;
  text-decoration: none;
}

span{
  animation: blink 1s infinite;
}

@keyframes type{ 
  from { width: 0; } 
} 

@keyframes type2{
  0%{width: 0;}
  40%{width: 0;}
  100%{ width: 100; } 
} 

@keyframes blink{
  to{opacity: .0;}
}

::selection{
  background: black;
}

#producer {
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  animation: type2 3s steps(60, end); 
}

.purple #producer {
	font-family: source sans pro, serif;
	font-weight: 300;
	color: white;
	font-size: 50px;
	margin-bottom: 10%;
}

.jobtitle {
	margin-left: 10%;
}

.reel {
	position: relative;
}

.wrapper {
	margin-top: 100px;
	margin-bottom: 100px;
}

.white {
	padding-top: 100px;
}

video {
	width: 100%;
	height: auto;
}

.white {
	background-color: white;
	width: 100%;
	height: 70%;
}
.white a {
	color: #3F1658;;
}

#swedeninwar {
	font-family: source sans pro, serif;
	font-weight: 300;
	font-style: italic;
	font-size: 48px;
	color: #3F1658;
	margin-left: 30px;
}

#swedentext {
	font-family: source sans pro, serif;
	font-weight: 300;
	font-size: 30px;
	color: #3F1658;
	margin-left: 30px;
}

.imdb {
	position: relative;
}

.imdb img {
	width: 100%;
}

#imdb {
	top: 5%;
	position: absolute;
	text-align: center;
	font-family: source sans pro, serif;
	font-style: italic;
	font-weight: 300;
	color: white;
	width: 100%;
	text-align: center;
	font-size: 100px;
}

#readmore {
	display: inline-block;
	top: 65%;
	position: absolute;
	text-align: center;
	font-family: source sans pro, serif;
	font-weight: 300;
	color: white;
	width: 100%;
	font-size: 50px;
}

.green {
	background-color: #34977E;
	width: 100%;
	height: 100%;
}

.green a {
	color: white;
}

.green img {
	width: 100%;
	margin-left: -20px;
}

#vardkollen {
	margin-top: 100px;
	font-family: source sans pro, serif;
	font-weight: 300;
	font-style: italic;
	font-size: 48px;
	color: white;
	margin-left: 30px;
}

#vardkollentext {
	font-family: source sans pro, serif;
	font-weight: 300;
	font-size: 30px;
	color: white;
	margin-left: 30px;
}

video {
	width: 100%;
	height: auto;
}

.nyc {
	position: relative;
}

.col-md-12 {
	padding: 0;
}

#vfx {
	position: absolute;
	text-align: center;
	font-family: source sans pro, serif;
	font-weight: 300;
	color: white;
	width: 100%;
	text-align: center;
	margin-top: 15%;
	font-size: 150px;
}

.blue {
	background-color: white;
	width: 100%;
	height: 100%;
}
.blue a {
	color: purple;
}

.blue img {
	width: 100%;
	margin-left: -20px;
}

#unicef {
	margin-top: 70px;
	font-family: source sans pro, serif;
	font-weight: 300;
	font-style: italic;
	font-size: 48px;
	color: #3F1658;
	margin-left: 30px;
}

#uniceftext {
	font-family: source sans pro, serif;
	font-weight: 300;
	font-size: 30px;
	color: #3F1658;
	margin-left: 30px;
}

.contact {
	background-color: #34977E;
	width: 100%;
	height: 100%;
	padding-left: 190px;
	padding-top: 20px;
	padding-bottom: 20px;
}

.contact img {
	padding-top: 30px;
	padding-bottom: 30px;
}

.contact h1 {
	margin-top: 50px;
	font-family: source sans pro, serif;
	font-weight: 300;
	font-style: italic;
	font-size: 48px;
	color: white;
	margin-left: 30px;
}

.contact p {
	font-family: source sans pro, serif;
	font-weight: 300;
	font-size: 25px;
	color: white;
	margin-left: 30px;
}


/*IMDB*/

.imdbpage {
	margin-top: 30px;
}

.imdbpage a {
	color: #3F1658;
}

.imdbpage h1 {
	font-family: source sans pro, serif;
	font-weight: 300;
	font-size: 58px;
	color: #3F1658;
	margin-left: 30px;
}

.imdbpage h3 {
	font-family: source sans pro, serif;
	font-weight: 300;
	font-size: 38px;
	color: #3F1658;
	margin-left: 30px;
}

.imdbpage p {
	font-family: source sans pro, serif;
	font-weight: 300;
	font-size: 18px;
	color: #3F1658;
	margin-left: 30px;
}

/*vårdkollen*/
.vardkollenpage {
	margin-top: 30px;
}

.vardkollenpage a {
	color: #3F1658;
}

.vardkollenpage h1 {
	font-family: source sans pro, serif;
	font-weight: 300;
	font-size: 58px;
	color: #3F1658;
	margin-left: 30px;
}

.vardkollenpage h3 {
	font-family: source sans pro, serif;
	font-weight: 300;
	font-size: 38px;
	color: #3F1658;
	margin-left: 30px;
}

.vardkollenpage p {
	font-family: source sans pro, serif;
	font-weight: 300;
	font-size: 18px;
	color: #3F1658;
	margin-left: 30px;
}

/*VFX*/

#comingsoon {
	font-family: source sans pro, serif;
	font-weight: 300;
	position: absolute;
	color: white;
	width: 100%;
	text-align: center;
	margin-top: 18%;
	font-size: 100px;
	text-align: center;
}

img#space {
	width: 100%;
	height: auto;
}

@media only screen and (max-device-width: 375px) {
		.purple #hello {
			font-size: 40px;
		}
		.purple #producer {
			font-size: 28px;
		}
		.jobtitle img {
			display: none;
		}
		.col-md-1 img {
			width: 75%;
		}
		.wrapper {
			margin-top: 0px;
		}
		#imdb {
			font-size: 30px;
		}
		#readmore {
			font-size: 30px;
		}
		.green img {
			width: 100%;
		}
		#vardkollen {
			font-size: 32px;
		}
		#vardkollentext {
			font-size: 20px;
		}
		#vfx {
			margin-top: 8%;
			font-size: 80px;
		}
		#unicef {
			font-size: 32px;
		}
		#uniceftext {
			font-size: 20px;
		}
		.contact  {
			padding-left: 10px;
		}
		.contact img {
			width: 70%;
			margin-top: 0px;
			margin-bottom: 0px;
			padding-top: 0px;
			padding-bottom: 0px;
			margin-left: 25px;
		}
		.contact h1 {
			font-size: 32px;
		}
		.contact p {
			font-size: 20px;
		}