@media screen and (min-width: 1024px) {

	
	.reel:hover img:first-child{display:none}
	.reel:hover img:last-child{display:inline-block}

	
	.portfolio:hover img:first-child{display:none}
	.portfolio:hover img:last-child{display:inline-block}

	
	.about:hover img:first-child{display:none}
	.about:hover img:last-child{display:inline-block}


	.contact:hover img:first-child{display:none}
	.contact:hover img:last-child{display:inline-block}

}

@media screen and (max-width: 767px) {

	.top {
	    margin-top: 120px;
	}

	.top img {
	    width: 70px;
	    height: 70px;
	}
	    
	#name {
	    font-size: 33px;
	    font-family: rockwell;
	}

	.embed-responsive {
	    display: none;
	    margin-top: 100px;
	}
	    
	.container1 {
	    margin-top: 1000px;
	}
	    
	.aboutme {
	    margin-top: 200px;
	    width: 100%;
	    margin-left: 0%;
	}
	    
	#back {
	    margin-top: 100px;
	}

}